**How to import datasheet in python using python library.**

Written by: Muhammad Sohail

Date: 2025-08-12


Email: msohailabdullah22@gmail.com

In [5]:
import pandas as pd

In [6]:
d_f=pd.read_excel("pandas_01_day6.xlsx")

In [7]:
d_f

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

**View Dataframes in python using Pandas**

In [8]:
d_f.head()

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

**It tells about number of rows and columns  in the table.**

In [13]:
d_f.shape

(87, 3)

**It tells about the index like start stop and first index**

In [14]:
d_f.index

RangeIndex(start=0, stop=87, step=1)

In [11]:
d_f.columns

Index(['Height', 'Weight', 'Favourite Dish'], dtype='object')

***It calculates:***

count → number of non-NaN values

mean → average

std → standard deviation

min → smallest value

25% → first quartile (Q1)

50% → median (Q2)

75% → third quartile (Q3)

max → largest value

In [ ]:
d_f.describe()

           Height      Weight
count   87.000000   87.000000
mean     8.001839   70.494253
std     18.175988   16.715731
min      4.000000   25.000000
25%      5.250000   60.000000
50%      5.600000   70.000000
75%      5.800000   80.000000
max    167.000000  125.000000

In [15]:
d_f.sort_index(ascending=False)

    Height  Weight Favourite Dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]