**How to import datasheet in python using python library.**

Written by: Muhammad Sohail

Date: 2025-08-11


Email: msohailabdullah22@gmail.com

In [44]:
# pip  install pandas numpy matplotlib seaborn plotly scipy scikit-learn streamlit

In [45]:
import pandas as pd

In [46]:
df = pd.read_excel("pandas_01_day6.xlsx")

In [47]:
df

    Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

In [48]:
df.head()

   Height  Weight Favourite Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [49]:
df.tail()

    Height  Weight Favourite Dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [50]:
df.shape

(87, 3)

In [51]:
df.info

<bound method DataFrame.info of     Height  Weight Favourite Dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Height          87 non-null     float64
 1   Weight          87 non-null     int64
 2   Favourite Dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB